@if (requestForm) {
    <form [formGroup]="requestForm" class="space-y-5">
        <div>
            <label>Licencia de funcionamiento</label>
            <p-input-number inputId="integeronly" [useGrouping]="false" formControlName="licencia_funcionamiento" class="w-full"/>
        </div>
        <div>
            <label>Nombre de la empresa y/o establecimiento</label>
            <input pInputText formControlName="nombre_establecimiento"/>
        </div>
        <div >
            <label>Archivo PDF que demuestre que tiene control para administrar esta empresa</label>
            <p-fileupload #fu
                          [customUpload]="true"
                          (uploadHandler)="requestCompanyRegistration($event)"
                          [disabled]="isUploading"
                          mode="basic"
                          chooseLabel="Seleccionar archivo"
                          chooseIcon="pi pi-upload"
                          accept="application/pdf"
                          maxFileSize="1000000"
            />


        </div>
        <div>
            <p-button
                label="Enviar solicitud"
                (onClick)="fu.upload()"
                severity="success"
                [loading]="isUploading"
            />
        </div>
    </form>
}
<p-confirm-dialog />
