<div class="p-5 border rounded-xl text-sm mt-6">
    <p-table [value]="globalStatements" size="small">
        <ng-template #header>
            <tr>
                <th>Status</th>
                <th>Total declaraciones</th>
            </tr>
        </ng-template>
        <ng-template #body let-declaration>
            <tr>
                <td class="uppercase">
                    @switch (declaration.status){
                        @case ('deleted'){
                            Eliminados
                        }
                        @case ('rejected'){
                            Rechazados
                        }
                        @case ('created'){
                            Creados
                        }
                        @case('under_review'){
                            En revisión
                        }
                        @case('accepted'){
                            Aceptados
                        }
                        @case ('total'){
                            Total
                        }
                    }
                </td>
                <td>
                    <span class="{{ declaration.styles }} p-1 rounded-md">{{ declaration.count | number }}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
