<div class="w-1/3 mx-auto space-y-5 mt-5">
    <div class="flex items-center space-x-2">
        <i class="pi pi-check-square"></i>
        <h3 class="text-xl font-semibold ">Mi cuenta</h3>
    </div>

    @if (accountForm) {
        <form [formGroup]="accountForm" class="w-full space-y-5">
            <div>
                <label>Nombre del representate</label>
                <input type="text" pInputText formControlName="nombre" />
            </div>
            <div>
                <label>Correo electrónico</label>
                <input type="email" pInputText formControlName="email"  />
            </div>

            <div>
                <label>Nueva contraseña</label>
                <p-password [toggleMask]="true" formControlName="password" />
            </div>

            <div>
                <label>Teléfono</label>
                <input type="text" pInputText formControlName="telefono"  />
            </div>


            <div>
                <p-button
                    [disabled]="isUpdating"
                    [loading]="isUpdating"
                    label="Actualizar"
                    icon="pi pi-check-circle"
                    (click)="updateUser()"
                />
            </div>
        </form>
    }
</div>
