<p-dialog
    [(visible)]="visible"
    [modal]="true"
    [closable]="true"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="false"
    [style]="{ width: '90vw', maxWidth: '1200px', height: '90vh' }"
    styleClass="welcome-dialog"
    header="📢 Avisos Importantes"
    (onHide)="onClose()"
>
    <p-carousel
        [value]="anuncios"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="true"
        [autoplayInterval]="10000"
        [showIndicators]="true"
        [showNavigators]="true"
    >
        <ng-template pTemplate="item" let-anuncio>
            <div class="image-container">
                <img
                    [src]="anuncio.imagen"
                    [alt]="anuncio.titulo"
                />
            </div>
        </ng-template>
    </p-carousel>
</p-dialog>
